<div class="container">
  <h1>This is the about page</h1>

  <p>Graecis gubergren sed in, no dolorem adipisci accommodare vim. Mei veri riden
    s assueverit at, graece aeterno elaboraret ea cum. Mundi dolor petentium est e
    x. Ad prima oratio sed. Et quaeque delenit vix. An soluta adipisci scriptorem
    has. In duo adipiscing definitionem, et qui assum diceret fabellas. No est dolorum
    moderatius, mea at feugait quaerendum, his ei affert neglegentur contentiones.
    Eos dico postulant iracundia ne, noster aliquid legimus vim te. Justo perpet
    ua constituam vix cu, integre qualisque urbanitas et has, cu inani essent ap
    eirian vel. Vim graecis admodum at, ea accommodare deterruisset vel, ei mei
    tollit luptatum.
  </p>


  <p>Ius nullam iuvaret cu, ea aperiri vocibus verterem vel. Te graeco contentione
    s per. Et duo nulla vocent referrentur. Facilis elaboraret ad mea, iudico home
    ro neglegentur vel ne, eu quo velit dolor nusquam. Cu mei integre verterem ele
    ctram, hinc repudiare mel no. Id laoreet conclusionemque sea, ipsum maluisset
    no sea. In qui singulis inimicus, munere sapientem quo ex, ut porro noluisse e
    um. Cum te assum persequeris, in commune accusamus sit. Sit senserit molestiae
    ei. Sint novum laoreet mea id, ipsum nostrum ocurr eret et mea, altera dicunt fabellas sit ea.
  </p>

  <%= link_to "Home", root_path %>


</div>
