html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #73A6AD;
  color: #1C1018;
  text-align: justify;
}

.content {
  flex: 1 0 auto;
}

.container {
  padding-top: 60px;
}

h1 {
  text-align: center;
}
